<h1>Welcome to Gaigaile!</h1>
<h2>We are coming soon!</h2>
<br>
<p><b>About</b></p>
<p>Gaigaile is an online proofreading platform made specifically for Chinese students looking for high-quality and affordable proofreading for their overseas university application essays.</p><br>
<p>Check out <a href="http://www.gaigaile.com">Gaigaile</a> for more details</p>

