
<head>
    

    <title>改改乐 Gaigaile</title>
    
<style>
   
    .container {
        width: 540px;
        background-color: inherit;
        padding: 0px;
        text-align: justify;
        color: #999999;
        font-size: 13px;
        line-height: 160%;
        font-weight: normal;
        height: 100px;
    }
    .left_main {
        width: 100%;
        float: left;
        display: inline;
    }
    .right_main {
        width: 100%;
        float: right;
        display: inline;
    }

</style>


</head>

<body style="margin: 0px; padding: 0px; font-family: sans-serif; Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;">
<center>
    
<div class="header">
    <img src="images/logo.PNG">
</div>


<div class="col-md-5">
      
    <center><span style="font-size: 20px; font-weight: bold; color: #586E40;">即将推出</span></center>
        <p>改改乐是一个网上校对平台, 特别为中国的学生提供专业和合宜的校对服务. 这服务可使他们联繫到高水準及来自美国名校的编辑, 帮助他们改善英文的申请文章, 以致可以成功地申请到海外的大学.</p>
  
</div>
<div class="col-md-2"></div>
<div class="col-md-5">
    
    <center><span style="font-size: 16px; font-weight: bold; color: #586E40;">COMING SOON</span></center>
        <p>Gaigaile is an online proofreading platform made specifically for Chinese students looking for high-quality and affordable proofreading for their overseas university application essays.</p>
   
</div>

<br>
</center>
</body>




