@import "bootstrap";

body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #EBF0F5;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 450;
	color: #76923C	;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #019285;
}

.center {
	text-align: center;
}

.col-md-4:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 16px;}
}

.caption {
	h3 {
	font-size: 20px;
	margin: 2px;
	}
	p {
	font-size: 15px;
	margin: 0px;
	}
}